.Navbar{
  /* background: linear-gradient(0.5turn, #8c52ff, #f6a978); */
  border-bottom: 1px solid rgb(213, 160, 35);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 15px;
  
}
.li{
    color:  #8c06d4;
    text-decoration: none;
    font-weight: 400;
    font-size: large;
}
a{
  text-decoration: none;
}
.imgg{
  border-radius: 50%;
  margin-right: 10px;
}

.right {
  display: flex;
  padding-left: 20px;
  justify-content: space-evenly;
}

.left{
  display: flex;
  align-items: center;
  margin-left: 20px;
}
body{
  margin: 0;
}